<!--
This is a copy of the literature page at www.berkeleygw.org
-->
<em>Please let us know when your paper is published with BerkeleyGW for inclusion here (or any other additions or corrections) in the Forum, under the "Literature" topic.</em><br><br>
<strong>I. Papers on the implementation of BerkeleyGW</strong>

<!--FIXME: there should be more here.-->

<ol>
<li>Jack Deslippe, Georgy Samsonidze, David A. Strubbe, Manish Jain, Marvin L. Cohen, and Steven G. Louie, "BerkeleyGW: A Massively Parallel Computer Package for the Calculation of the Quasiparticle and Optical Properties of Materials and Nanostructures," <a href=http://dx.doi.org/10.1016/j.cpc.2011.12.006>Comput. Phys. Commun. 183, 1269 (2012)</a> (most up-to-date on <a href=http://arxiv.org/abs/1111.4429>arXiV</a>)

<li>Mark S. Hybertsen and Steven G. Louie, "Electron correlation in semiconductors and insulators: Band gaps and quasiparticle energies," <a href=http://link.aps.org/doi/10.1103/PhysRevB.34.5390>Phys. Rev. B 34, 5390 (1986)</a> [GW, GPP, COHSEX]
Errata: Eq. 11 should have E' instead of E in the numerator. Eq. 32 should have &Omega;<sup>2</sup> rather than &Omega; in the numerator. Eq. 34a should have &delta;<sub><b>G</b>,<b>G</b></sub> instead of 1 in the parentheses.

<li>Sheng Bai Zhang, David Tom&aacute;nek, Marvin L. Cohen, Steven G. Louie, and Mark S. Hybertsen, "Evaluation of quasiparticle energies for semiconductors without inversion symmetry," <a href=http://link.aps.org/doi/10.1103/PhysRevB.40.3162>Phys. Rev. B 40, 3162 (1989)</a> [GPP for systems without inversion symmetry]
Note: &epsilon;<sub>1</sub> and &epsilon;<sub>2</sub> in this paper refer to the Hermitian and Antihermitian components of the dielectric matrix, respectively, and not to the real and imaginary parts of &epsilon;. See D. J. Johnson, Phys. Rev. B 9, 4475 (1974).

<li>Michael Rohlfing and Steven G. Louie, "Electron-hole excitations and optical spectra from first principles," <a href=http://link.aps.org/doi/10.1103/PhysRevB.62.4927>Phys. Rev. B 62, 4927 (2000)</a> [BSE]
Errata: Eqs. 26 and 27 should have 8&pi;<sup>2</sup> instead of 16&pi; in the prefactor. Eq. 44 should be a sum over <b>G</b> &ne; 0. Eq. 45 should have &epsilon;<sup>-1</sup><sub><b>G</b>,<b>G'</b></sub> instead of &epsilon;<sup>-1</sup><sub><b>G</b>,0</sub>.

<li>Je-Luen Li, Gian-Marco Rignanese, Eric K. Chang, Xavier Blase, and Steven G. Louie, "GW study of the metal-insulator transition of bcc hydrogen," <a href=http://link.aps.org/doi/10.1103/PhysRevB.66.035102>Phys. Rev. B 66, 035102 (2002)</a> [spin-polarized GW]

<li>Sohrab Ismail-Beigi, "Truncation of periodic image interactions for confined systems," <a href=http://link.aps.org/doi/10.1103/PhysRevB.73.233103>Phys. Rev. B 73, 233103 (2006)</a> [slab and wire truncation]

<li>Jeffrey B. Neaton, Mark S. Hybertsen, and Steven G. Louie, "Renormalization of Molecular Electronic Levels at Metal-Molecule Interfaces," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.97.216405>Phys. Rev. Lett. 97, 216405 (2006)</a> [ICM]
Erratum: p. 3, left col, last paragraph. Should be 1/2|z-z<sub>0</sub>| instead of 1/4|z-z<sub>0</sub>|.

<li>R. Haydock, "The recursive solution of the Schr&ouml;dinger equation," <a href=http://dx.doi.org/10.1016/0010-4655(80)90101-0>Comput. Phys. Commun. 20, 11 (1980)</a>

<li>Loren X. Benedict and Eric L. Shirley, "Ab initio calculation of &epsilon;<sub>2</sub>(&omega;) including the electron-hole interaction: Application to GaN and CaF<sub>2</sub>," <a href=http://link.aps.org/doi/10.1103/PhysRevB.59.5441>Phys. Rev. B 59, 5441 (1999)</a> [Haydock recursion in BSE]

<li>Georgy Samsonidze, Manish Jain, Jack Deslippe, Marvin L. Cohen, and Steven G. Louie, "Simple approximate physical orbitals for GW quasiparticle calculations," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.107.186404>Phys. Rev. Lett. 107, 186404 (2011)</a> [SAPO]
<!--
-->
</ol>
<strong>II. Review articles on the GW approximation and Bethe-Salpeter equation approaches</strong>
<ol>
<li>Lars Hedin and Stig Lundqvist, "Effects of Electron-Electron and Electron-Phonon Interactions on the One-Electron States of Solids," <a href=http://dx.doi.org/10.1016/S0081-1947(08)60615-3>Solid State Phys. 23, 1 (1970)</a>

<li>Mark S. Hybertsen and Steven G. Louie, "Theory and Calculation of Quasiparticle Energies and Band Gaps," <a href=http://civet.berkeley.edu/hybertsen_louie_comments_on_cond_mat.pdf>Comments on Cond. Mat. Phys. 13, 223 (1987)</a>

<li>G. Strinati, "Application of the Green's functions method to the study of the optical properties of semiconductors," <a href=http://dx.doi.org/10.1007/BF02725962>Riv. Nuovo Cimento 11, 1 (1988)</a>

<li>Steven G. Louie, "Quasiparticle Theory of Electron Excitations in Solids," in <a href=http://books.google.com/books/about/Quantum_theory_of_real_materials.html?id=o6dzc6hQ41EC>Quantum Theory of Real Materials</a>, eds. James R. Chelikowsky and Steven G. Louie, (Kluwer Press, Boston, 1996), p. 83

<li>Steven G. Louie, "First-Principles Theory of Electron Excitation Energies in Solids, Surfaces, and Defects," in <a href=http://books.google.com/books/about/Topics_in_computational_materials_scienc.html?id=zUSshTqUs6UC>Topics in Computational Materials Science</a>, ed. Ching-Yao Fong (World Scientific, Singapore, 1998) p. 96

<li>F. Aryasetiawan and O. Gunnarsson, "The GW method," <a href=http://dx.doi.org/10.1088/0034-4885/61/3/002>Rep. Prog. Phys. 61, 237 (1998)</a>

<li>Lars Hedin, "On correlation effects in electron spectroscopies and the GW approximation," <a href=http://dx.doi.org/10.1088/0953-8984/11/42/201>J. Phys.: Condens. Matter 11, R489 (1999)</a>

<li>Wilfried G. Aulbur, Lars J&ouml;nsson, and John W. Wilkins, "Quasiparticle calculations in solids," <a href=http://dx.doi.org/10.1016/S0081-1947(08)60248-9>Solid State Phys. 54, 1 (1999)</a>

<li>Giovanni Onida, Lucia Reining, and Angel Rubio, "Electronic excitations: density-functional versus many-body Green's-function approaches," <a href=http://link.aps.org/doi/10.1103/RevModPhys.74.601>Rev. Mod. Phys. 74, 601 (2002)</a>

<li>Steven G. Louie, "Predicting Materials and Properties: Theory of the Ground and Excited State," in <a href=http://books.google.com/books/about/Conceptual_foundations_of_materials.html?id=w9pBZE9SrvUC>Conceptual Foundations of Materials: A Standard Model for Ground- and Excited-State Properties</a>, vol. eds. Steven G. Louie and Marvin L. Cohen (Elsevier, Amsterdam, 2006) p. 9
</ol>

<strong>III. Papers using BerkeleyGW</strong>
<ol>
<li>Mark S. Hybertsen and Steven G. Louie, "First Principles Theory of Quasiparticles: Calculation of Band Gaps in Semiconductors and Insulators," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.55.1418>Phys. Rev. Lett. 55, 1418 (1985)</a>

<li>Mark S. Hybertsen and Steven G. Louie, "Electron Correlation and the Band Gap in Ionic Crystals," <a href=http://link.aps.org/doi/10.1103/PhysRevB.32.7005>Phys. Rev. B 32, 7005(R) (1985)</a> [Erratum: <a href=http://link.aps.org/doi/10.1103/PhysRevB.35.9308.2>Phys. Rev. B 35, 9308 (1987)</a>]

<li>Mark S. Hybertsen and Steven G. Louie, "Many-body Calculation of Surface States: As on Ge(111)," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.58.1551>Phys. Rev. Lett. 58, 1551 (1987)</a>

<li>John E. Northrup, Mark S. Hybertsen, and Steven G. Louie, "Theory of Quasiparticle Energies in Alkali Metals," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.59.819>Phys. Rev. Lett. 59, 819 (1987)</a>

<li>Steven G. Louie and Mark S. Hybertsen, "Theory of Quasiparticle Energies: Band Gaps and Excitation Spectra in Solids," <a href=http://dx.doi.org/10.1002/qua.560320706>Int. J. Quant. Chem.: Quant. Chem. Symp. 21, 31 (1987)</a>

<li>Sheng Bai Zhang, David Tom&aacute;nek, Steven G. Louie, Marvin L. Cohen, and Mark S. Hybertsen, "Quasiparticle Calculation of Valence Band Offset of AlAs-GaAs(001)," <a href=http://dx.doi.org/10.1016/0038-1098(88)90213-X>Solid State Comm. 66, 585 (1988)</a>

<li>Mark S. Hybertsen and Steven G. Louie, "Theory of Quasiparticle Surface States in Semiconductor Surfaces," <a href=http://link.aps.org/doi/10.1103/PhysRevB.38.4033>Phys. Rev. B 38, 4033 (1988)</a>

<li>Michael P. Surh, John E. Northrup, and Steven G. Louie, "Occupied Quasiparticle Bandwidth of Potassium," <a href=http://link.aps.org/doi/10.1103/PhysRevB.38.5976>Phys. Rev. B 38, 5976 (1988)</a>

<li>Xuejun Zhu, Stephen Fahy, and Steven G. Louie, "Ab Initio Calculation of Pressure Coefficients of Band Gaps of Silicon: Comparison of the Local-Density Approximation and Quasiparticle Results," <a href=http://link.aps.org/doi/10.1103/PhysRevB.39.7840>Phys. Rev. B 39, 7840 (1989)</a> [Erratum: <a href=http://prb.aps.org/abstract/PRB/v40/i8/p5821_1>Phys. Rev. B 40, 5821 (1989)</a>]

<li>John E. Northrup, Mark S. Hybertsen, and Steven G. Louie, "Quasiparticle excitation spectrum for nearly-free-electron metals," <a href=http://link.aps.org/doi/10.1103/PhysRevB.39.8198>Phys. Rev. B 39, 8198 (1989)</a>

<li>Sheng Bai Zhang, David Tom&aacute;nek, Marvin L. Cohen, Steven G. Louie, and Mark S. Hybertsen, "Evaluation of Quasiparticle Energies for Semiconductors without Inversion Symmetry," <a href=http://link.aps.org/doi/10.1103/PhysRevB.40.3162>Phys. Rev. B 40, 3162 (1989)</a>

<li>Sheng Bai Zhang, Mark S. Hybertsen, Marvin L. Cohen, Steven G. Louie, and David Tom&aacute;nek, "Quasiparticle Band Gaps for Ultrathin GaAs/AlAs(001) Superlattices," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.63.1495>Phys. Rev. Lett. 63, 1495 (1989)</a>

<li>Xuejun Zhu, Sheng Bai Zhang, Steven G. Louie, and Marvin L. Cohen, "Quasiparticle Interpretation of Photoemission Spectra and Optical Properties of GaAs(110)," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.63.2112>Phys. Rev. Lett. 63, 2112 (1989)</a>

<li>Sheng Bai Zhang, Marvin L. Cohen, Steven G. Louie, David Tom&aacute;nek, and Mark S. Hybertsen, "Quasiparticle Band Offset at the (001) Interface and Band Gaps in Ultrathin Superlattices of GaAs-AlAs Heterojunctions," <a href=http://link.aps.org/doi/10.1103/PhysRevB.41.10058>Phys. Rev. B 41, 10058 (1990)</a>

<li>H&eacute;lio Chacham, Xuejun Zhu, and Steven G. Louie, "Metal-Insulator Transition in Solid Xenon at High Pressures," <a href=http://dx.doi.org/10.1209/0295-5075/14/1/012>Europhys. Lett. 14, 65 (1991)</a>

<li>H&eacute;lio Chacham and Steven G. Louie, "Metallization of Solid Hydrogen at Megabar Pressures: A First-Principles Quasiparticle Study," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.66.64>Phys. Rev. Lett. 66, 64 (1991)</a>

<li>John E. Northrup, Mark S. Hybertsen, and Steven G. Louie, "Many-Body Calculation of the Surface State Energies for Si(111)2&times;1," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.66.500>Phys. Rev. Lett. 66, 500 (1991)</a>

<li>Michael P. Surh, Steven G. Louie, and Marvin L. Cohen, "Quasiparticle Energies for Cubic BN, BP, and BAs," <a href=http://link.aps.org/doi/10.1103/PhysRevB.43.9126>Phys. Rev. B 43, 9126 (1991)</a>

<li>Xuejun Zhu and Steven G. Louie, "Quasiparticle Surface Band Structure and Photoelectric Threshold of Ge(111)-2&times;1," <a href=http://link.aps.org/doi/10.1103/PhysRevB.43.12146>Phys. Rev. B 43, 12146(R) (1991)</a>

<li>Xuejun Zhu and Steven G. Louie, "Quasiparticle Band Structure of Thirteen Semiconductors and Insulators," <a href=http://link.aps.org/doi/10.1103/PhysRevB.43.14142>Phys. Rev. B 43, 14142 (1991)</a>

<li>Michael P. Surh, Steven G. Louie, and Marvin L. Cohen, "Band Gaps of Diamond under Anisotropic Stress," <a href=http://link.aps.org/doi/10.1103/PhysRevB.45.8239>Phys. Rev. B 45, 8239 (1992)</a>

<li>H&eacute;lio Chacham, Xuejun Zhu, and Steven G. Louie, "Pressure-Induced Insulator-Metal Transitions in Solid Xenon and Hydrogen: A First-Principles Quasiparticle Study," <a href=http://link.aps.org/doi/10.1103/PhysRevB.46.6688>Phys. Rev. B 46, 6688 (1992)</a> [Erratum: <a href=http://link.aps.org/doi/10.1103/PhysRevB.48.2025>Phys. Rev. B 48, 2025(E) (1993)</a>]

<li>Eric L. Shirley, Xuejun Zhu, and Steven G. Louie, "Core-Polarization in Semiconductors: Effects on Quasiparticle Energies," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.69.2955>Phys. Rev. Lett. 69, 2955 (1992)</a>

<li>Eric L. Shirley and Steven G. Louie, "Electron Excitations in Solid C<sub>60</sub>: Energy Gap, Band Dispersions, and Effects of Orientational Disorder," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.71.133>Phys. Rev. Lett. 71, 133 (1993)</a>

<li>Angel Rubio, Jennifer L. Corkill, Marvin L. Cohen, Eric L. Shirley, and Steven G. Louie, "Quasiparticle Band Structure of AlN and GaN," <a href=http://link.aps.org/doi/10.1103/PhysRevB.48.11810>Phys. Rev. B 48, 11810 (1993)</a>

<li>Steven G. Louie and Eric L. Shirley, "Electron Excitation Energies in Fullerites: Many-Electron and Molecular Orientational Effects," <a href=http://dx.doi.org/10.1016/0022-3697(93)90289-4>J. Phys. Chem. Solids 54, 1767 (1993)</a>

<li>Xavier Blase, Xuejun Zhu, and Steven G. Louie, "Self-Energy Effects on the Surface State Energies of H-Si(111) 1&times;1," <a href=http://link.aps.org/doi/10.1103/PhysRevB.49.4973>Phys. Rev. B 49, 4973 (1994)</a>

<li>J. A. Carlisle, L. J. Terminello, A. V. Hamza, E. A. Hudson, Eric L. Shirley, F. J. Himpsel, D. A. Lapiano-Smith, J. J. Jia, T. A. Callcott, R. C. C. Perera, D. K. Shuh, Steven G. Louie, J. St&ouml;hr, M. G. Samant, and D. L. Ederer, "Occupied and Unoccupied Orbitals of C<sub>60</sub> and C<sub>70</sub>," <a href=http://dx.doi.org/10.1080/10587259408039331>Mol. Cryst. Liq. Cryst. 256, 819 (1994)</a>

<li>Oleg Zakharov, Angel Rubio, Xavier Blase, Marvin L. Cohen, and Steven G. Louie, "Quasiparticle Band Structures of Six II-VI Compounds: ZnS, ZnSe, ZnTe, CdS, CdSe, and CdTe," <a href=http://link.aps.org/doi/10.1103/PhysRevB.50.10780>Phys. Rev. B 50, 10780 (1994)</a>

<li>Xavier Blase, Angel Rubio, Steven G. Louie, and Marvin L. Cohen, "Quasiparticle band structure of bulk hexagonal boron nitride and related systems," <a href=http://link.aps.org/doi/10.1103/PhysRevB.51.6868>Phys. Rev. B 51, 6868 (1995)</a>

<li>Michael P. Surh, H&eacute;lio Chacham, and Steven G. Louie, "Quasiparticle Excitation Energies for the F-Center Defect in LiCl," <a href=http://link.aps.org/doi/10.1103/PhysRevB.51.7464>Phys. Rev. B. 51, 7464 (1995)</a>

<li>Eric L. Shirley and Steven G. Louie, "Photoemission and Optical Properties of C<sub>60</sub> Fullerites," in <a href=http://books.google.com/books/about/Quantum_theory_of_real_materials.html?id=o6dzc6hQ41EC>Quantum Theory of Real Materials</a>, eds. J.R. Chelikowsky and Steven G. Louie (Kluwer Press, Boston, 1996), p. 515.

<li>Bal&aacute;zs Kr&aacute;lik, Eric K. Chang, and Steven G. Louie, "Structural Properties and Quasiparticle Band Structure of Zirconia," <a href=http://link.aps.org/doi/10.1103/PhysRevB.57.7027>Phys. Rev. B 57, 7027 (1998)</a>

<li>Michael Rohlfing and Steven G. Louie, "Electron-hole Excitations in Semiconductors and Insulators," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.81.2312>Phys. Rev. Lett. 81, 2312 (1998)</a>

<li>Michael Rohlfing and Steven G. Louie, "Optical Excitations in Conjugated Polymers," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.82.1959>Phys. Rev. Lett. 82, 1959 (1999)</a>

<li>Michael Rohlfing and Steven G. Louie, "Excitons and Optical Spectrum of the Si(111)-(2&times;1) Surface," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.83.856>Phys. Rev. Lett. 83, 856 (1999)</a>

<li>Eric K. Chang, Michael Rohlfing, and Steven G. Louie, "Excitons and Optical Properties of Alpha-Quartz," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.85.2613>Phys Rev. Lett. 85, 2613 (2000)</a>

<li>Eric K. Chang, Michael Rohlfing, and Steven G. Louie, "First-Principles Study of Optical Excitations in Alpha-Quartz," in <a href=http://dx.doi.org/10.1557/PROC-579-3>The Optical Properties of Materials, MRS Symp. Proceed. Vol. 579</a>, eds. Eric L. Shirley, James R. Chelikowsky, Steven G. Louie, and G&eacute;rard Martinez (Materials Research Society, Warrendale, 2000), p. 3

<li>Peihong Zhang, Vincent H. Crespi, Eric K. Chang, Steven G. Louie, and Marvin L. Cohen, "Computational Design of Direct-Bandgap Semiconductors that Lattice-Match Silicon," <a href=http://dx.doi.org/10.1038/35051054>Nature 409, 69 (2001)</a>

<li>Jeffrey C. Grossman, Michael Rohlfing, Lubos Mitas, Steven G. Louie, and Marvin L. Cohen, "High Accuracy Many-Body Calculational Approaches for Excitations in Molecules," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.86.472>Phys. Rev. Lett. 86, 472 (2001)</a>

<li>Gian-Marco Rignanese, Xavier Blase, and Steven G. Louie, "Quasiparticle Effects on Tunneling Currents: A Study of C2H4 Adsorbed on the Si(001)-(2&times;1) Surface," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.86.2110>Phys. Rev. Lett. 86, 2110 (2001)</a>

<li>Eric K. Chang, Xavier Blase, and Steven G. Louie, "Quasiparticle Band Structure of Lanthanum Hydride," <a href=http://link.aps.org/doi/10.1103/PhysRevB.64.155108>Phys. Rev. B 64, 155108 (2001)</a>

<li>Catalin D. Spataru, M. A. Cazalilla, Angel Rubio, Loren X. Benedict, Pedro M. Echenique, and Steven G. Louie, "Anomalous Quasiparticle Lifetime in Graphite: Band Structure Effects," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.87.246405>Phys. Rev. Lett. 87, 246405 (2001)</a>

<li>Je-Luen Li, Gian-Marco Rignanese, Eric K. Chang, Xavier Blase, and Steven G. Louie, "GW Study of the Metal-Insulator Transition of bcc Hydrogen," <a href=http://link.aps.org/doi/10.1103/PhysRevB.66.035102>Phys. Rev. B 66, 035102 (2002)</a>

<li>Weidong Luo, Sohrab Ismail-Beigi, Marvin L. Cohen, and Steven G. Louie, "Quasiparticle Band Structure of ZnS and ZnSe," <a href=http://link.aps.org/doi/10.1103/PhysRevB.66.195215>Phys. Rev. B 66, 195215 (2002)</a>

<li>Loren X. Benedict, Catalin D. Spataru, and Steven G. Louie, "Quasiparticle Properties of a Simple Metal at High Electron Temperatures," <a href=http://link.aps.org/doi/10.1103/PhysRevB.66.085116>Phys. Rev. B 66, 085116 (2002)</a>

<li>J. A. Alford, Mei-Yin Chou, Eric K. Chang, and Steven G. Louie, "First-principles Studies of Quasiparticle Band Structures of Cubic YH<sub>3</sub> and LaH<sub>3</sub>," <a href=http://link.aps.org/doi/10.1103/PhysRevB.67.125110>Phys. Rev. B 67, 125110 (2003)</a>

<li>Murilo L. Tiago, John E. Northrup, and Steven G. Louie, "Ab initio calculation of the electronic and optical properties of solid pentacene," <a href=http://link.aps.org/doi/10.1103/PhysRevB.67.115212>Phys. Rev. B 67, 11 5212 (2003)</a>

<li>Sohrab Ismail-Beigi and Steven G. Louie, "Excited-State Forces within a First-Principles Green's Function Formalism," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.90.076401>Phys. Rev. Lett. 90, 076401 (2003)</a>

<li>Catalin D. Spataru, Sohrab Ismail-Beigi, Loren X. Benedict, and Steven G. Louie, "Excitonic effects and optical spectra of single-walled carbon nanotubes," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.92.077402>Phys. Rev. Lett. 92, 077402 (2004)</a>

<li>Catalin D. Spataru, Sohrab Ismail-Beigi, Loren X. Benedict, and Steven G. Louie, "Quasiparticle energies, excitonic effects and optical absorption spectra of small-diameter single-walled carbon nanotubes," <a href=http://dx.doi.org/10.1007/s00339-003-2464-2>Appl. Phys. A 78, 1129 (2004)</a>

<li>Murilo L. Tiago, Sohrab Ismail-Beigi, and Steven G. Louie, "Effect of Semicore Orbitals on the Electronic Band Gaps of Si, Ge, and GaAs Within the GW Approximation," <a href=http://link.aps.org/doi/10.1103/PhysRevB.69.125212>Phys. Rev. B 69, 125212 (2004)</a>

<li>Catalin D. Spataru, Loren X. Benedict, and Steven G. Louie, "Ab Initio Calculation of Band-Gap Renormalization in Highly Excited GaAs," <a href=http://link.aps.org/doi/10.1103/PhysRevB.69.205204>Phys. Rev. B 69, 205204 (2004)</a>

<li>Murilo L. Tiago, Michael Rohlfing, and Steven G. Louie, "Bound Excitons and Optical Properties of Bulk Trans-Polyacetylene," <a href=http://link.aps.org/doi/10.1103/PhysRevB.70.193204>Phys. Rev. B 70, 193204 (2004)</a>

<li>Je-Luen Li, Gian-Marco Rignanese, and Steven G. Louie, "Quasiparticle Energy Bands of NiO in the GW Approximation," <a href=http://link.aps.org/doi/10.1103/PhysRevB.71.193102>Phys. Rev B 71, 193102 (2005)</a>

<li>Catalin D. Spataru, Sohrab Ismail-Beigi, Loren X. Benedict, and Steven G. Louie, "Excitonic Effects and Optical Spectra of Single-Walled Carbon Nanotubes," <a href=http://link.aip.org/link/doi/10.1063/1.1994478>27th Conference on the Physics of Semiconductors, AIP Conference Proceedings 772, 1061 (2005)</a>

<li>Jeffrey B. Neaton, Koonghong Khoo, Catalin D. Spataru, and Steven G. Louie, "Electronic Transport and Optical Properties of Carbon Nanostructures from First Principles," <a href=http://dx.doi.org/10.1016/j.cpc.2005.03.003>Comput. Phys. Commun. 169, 1 (2005)</a>

<li>Sohrab Ismail-Beigi and Steven G. Louie, "Self-Trapped Excitons in Silicon Dioxide: Mechanism and Properties," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.95.156401>Phys. Rev. Lett. 95, 156401 (2005)</a>

<li>Catalin D. Spataru, Sohrab Ismail-Beigi, Rodrigo B. Capaz, and Steven G. Louie, "Theory and Ab Initio Calculation of Radiative Lifetime of Excitons in Semiconducting Carbon Nanotubes," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.95.247402>Phys. Rev. Lett. 95, 247402 (2005)</a>

<li>Steven G. Louie and Angel Rubio, "Quasiparticle and Optical Properties of Solids and Nanostructures: The GW-BSE Approach," <a href=http://dx.doi.org/10.1007/978-1-4020-3286-8_12>Handbook of Materials Modeling</a>, ed. S. Yip (Springer, Dordrecht, The Netherlands, 2005), p. 215

<li>Cheol-Hwan Park, Catalin D. Spataru, and Steven G. Louie, "Excitons and Many-Electron Effects in the Optical Response of Single-Walled Boron Nitride Nanotubes," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.96.126105>Phys. Rev. Lett. 96, 126105 (2006)</a>

<li>Jeffrey B. Neaton, Mark S. Hybertsen, and Steven G. Louie, "Renormalization of Molecular Electronic Levels at Metal-Molecule Interfaces," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.97.216405>Phys. Rev. Lett. 97, 216405 (2006)</a>

<li>Su Ying Quek, Jeffrey B. Neaton, Mark S. Hybertsen, E. Kaxiras, and Steven G. Louie, "First-principles Studies of the Electronic Structure of Cyclopentene on Si(001): Density Functional Theory and GW Calculations," <a href=http://dx.doi.org/10.1002/pssb.200666819>Phys. Status Solidi (b) 243, 2048 (2006)</a>

<li>Rodrigo B. Capaz, Catalin D. Spataru, Sohrab Ismail-Beigi, and Steven G. Louie, "Diameter and Chirality Dependence of Exciton Properties in Carbon Nanotubes," <a href=http://link.aps.org/doi/10.1103/PhysRevB.74.121401>Phys. Rev. B 74, 121401 (2006)</a>

<li>Takashi Miyake, Peihong Zhang, Marvin L. Cohen, and Steven G. Louie, "Quasiparticle Energy of Semicore d-electrons in ZnS: Combined LDA+U and GW approach," <a href=http://link.aps.org/doi/10.1103/PhysRevB.74.245213>Phys. Rev. B 74, 245213 (2006)</a>

<li>Li Yang, Catalin D. Spataru, Steven G. Louie, and Mei-Yin Chou, "Enhanced Electron-hole Interaction and Optical Absorption in a Silicon Nanowire," <a href=http://link.aps.org/doi/10.1103/PhysRevB.75.201304>Phys. Rev. B 75, 201304(R) (2007)</a>

<li>Li Yang, Cheol-Hwan Park, Young-Woo Son, Marvin L. Cohen, and Steven G. Louie, "Quasiparticle Energies and Band Gaps of Graphene Nanoribbons," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.99.186801>Phys. Rev. Lett. 99, 186801 (2007)</a>

<li>Li Yang, Marvin L. Cohen, and Steven G. Louie, "Excitonic Effects in the Optical Spectra of Graphene Nanoribbons," <a href=http://dx.doi.org/10.1021/nl0716404>Nano Lett. 7, 3112 (2007)</a>

<li>Feng Wang, David J. Cho, Brian Kessler, Jack Deslippe, P. James Schuck, Steven G. Louie, Alex Zettl, Tony F. Heinz, and Y. Ron Shen, "Observation of Excitons in One-Dimensional Metallic Single-Walled Carbon Nanotubes," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.99.227401>Phys. Rev. Lett. 99, 227401 (2007)</a>

<li>Su Ying Quek, Jeffrey B. Neaton, Mark S. Hybertsen, Efthimios Kaxiras, and Steven G. Louie, "Negative Differential Resistance in Transport through Organic Molecules on Silicon," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.98.066807>Phys. Rev. Lett. 98, 066807 (2007)</a>

<li>Catalin D. Spataru, Sohrab Ismail-Beigi, Rodrigo B. Capaz, and Steven G. Louie, "Quasiparticle and Excitonic Effects in the Optical Response of Nanotubes and Nanoribbons," in <a href=http://books.google.com/books?id=ammoVEI-H2gC&lpg=PP1&dq=Carbon%20Nanotubes%3A%20Advanced%20Topics%20in%20the%20Synthesis%2C%20Structure%2C%20Properties%20and%20Applications&pg=PP1#v=onepage&q&f=false>Carbon Nanotubes: Advanced Topics in the Synthesis, Structure, Properties and Applications</a href>, A. Jorio, M. S. Dresselhaus, G. Dresselhaus (eds.), Topics in Applied Physics 111 (Springer-Verlag, Heidelberg, Germany 2008), p. 195

<li>Jack Deslippe, Catalin D. Spataru, David Prendergast, and Steven G. Louie, "Bound excitons in metallic single-walled carbon nanotubes," <a href=http://dx.doi.org/10.1021/nl070577f>Nano Lett. 7, 1626 (2007)</a>

<li>Cheol-Hwan Park, Feliciano Giustino, Marvin L. Cohen, and Steven G. Louie, "Velocity Renormalization and Carrier Lifetime in Graphene from the Electron-Phonon Interaction," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.99.086804>Phys. Rev. Lett. 99, 086804 (2007)</a>

<li>Brad D. Malone, Jay D. Sau, and Marvin L. Cohen, "Ab initio survey of the electronic structure of tetrahedrally bonded phases of silicon," <a href=http://link.aps.org/doi/10.1103/PhysRevB.78.035210>Phys. Rev. B 78, 035210 (2008)</a>

<li>Jack Deslippe and Steven G. Louie, "Excitons and Many-electron Effects in the Optical Response of Carbon Nanotubes and Other One-dimensional Nanostructures," <a href=http://link.aip.org/link/doi/10.1117/12.764027>Proc. SPIE 6892, 68920U-1 (2008)</a>

<li>Emmanouil Kioupakis, Peihong Zhang, Marvin L. Cohen, and Steven G. Louie, "GW Quasiparticle Corrections to the LDA+U/GGA+U Electronic Structure of bcc Hydrogen," <a href=http://link.aps.org/doi/10.1103/PhysRevB.77.155114>Phys. Rev. B 77, 155114 (2008)</a>

<li>Jay D. Sau, Jeffrey B. Neaton, Hyoung Joon Choi, Steven G. Louie, and Marvin L. Cohen, "Electronic Energy Levels of Weakly Coupled Nanostructures: C<sub>60</sub> Metal Interfaces," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.101.026804>Phys. Rev. Lett. 101, 026804 (2008)</a>

<li>Li Yang, Marvin L. Cohen, and Steven G. Louie, "Magnetic Edge-state Excitons in Zigzag Graphene Nanoribbons," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.101.186401>Phys. Rev. Lett. 101, 186401 (2008)</a>

<li>Cheol-Hwan Park, Feliciano Giustino, Jessica L. McChesney, Aaron Bostwick, Taisuke Ohta, Eli Rotenberg, Marvin L. Cohen, and Steven G. Louie, "Van Hove Singularity and Apparent Anisotropy in the Electron-phonon Interaction in Graphene," <a href=http://link.aps.org/doi/10.1103/PhysRevB.77.113410>Phys. Rev. B 77, 113410 (2008)</a>

<li>Cheol-Hwan Park, Feliciano Giustino, Marvin L. Cohen, and Steven G. Louie, "Electron-phonon Interactions in Graphene, Bilayer Graphene, and Graphite," <a href=http://pubs.acs.org/doi/abs/10.1021/nl801884n>Nano Lett. 8, 4229 (2008)</a>

<li>Cheol-Hwan Park, Feliciano Giustino, Catalin D. Spataru, Marvin L. Cohen, and Steven G. Louie, "First-principles Study of Electron Linewidths in Graphene," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.102.076803>Phys. Rev. Lett. 102, 076803 (2009)</a> [Erratum: <a href=http://link.aps.org/doi/10.1103/PhysRevLett.102.189904>Phys. Rev. Lett. 102, 189904(E) (2009)</a>]

<li>Jack Deslippe, Mario Dipoppa, David Prendergast, M. V. O. Moutinho, Rodrigo B. Capaz, and Steven G. Louie, "Electron-hole Interaction in Carbon Nanotubes: Novel Screening and Exciton Excitation Spectra," <a href=http://dx.doi.org/10.1021/nl802957t>Nano Lett. 9, 1330 (2009)</a>

<li>Li Yang, Jack Deslippe, Cheol-Hwan Park, Marvin L. Cohen, and Steven G. Louie, "Excitonic effects on the optical response of graphene and bilayer graphene," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.103.186802>Phys. Rev. Lett. 103, 186802 (2009)</a>

<li>Chenggang Tao, J. Sun, X. Zhang, Ryan Yamachika, Daniel Wegner, Yasaman Bahri, Georgy Samsonidze, Marvin L. Cohen, Steven G. Louie, T. Don Tilley, Rachel A. Segalman, and Michael F. Crommie, "Spatial resolution of a type II heterojunction in a single bipolar molecule," <a href=http://dx.doi.org/10.1021/nl901860n>Nano Lett. 9, 3963 (2009)</a>

<li>Cheol-Hwan Park, Feliciano Giustino, Catalin D. Spataru, Marvin L. Cohen, and Steven G. Louie, "Angle-resolved Photoemission Spectra of Graphene from First-principles," <a href=http://dx.doi.org/10.1021/nl902448v>Nano Lett. 9, 4234 (2009)</a>

<li>Emmanouil Kioupakis, Murilo L. Tiago, and Steven G. Louie, "Quasiparticle electronic structure of bismuth telluride in the GW approximation," <a href=http://link.aps.org/doi/10.1103/PhysRevB.82.245203>Phys. Rev. B 82, 245203 (2010)</a>

<li>Feliciano Giustino, Steven G. Louie, and Marvin L. Cohen, "Electron-phonon renormalization of the direct band gap of diamond," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.105.265501>Phys. Rev. Lett. 105, 265501 (2010)</a>

<li>Brad D. Malone, Steven G. Louie, and Marvin L. Cohen, "Electronic and optical properties of body-centered-tetragonal Si and Ge," <a href=http://link.aps.org/doi/10.1103/PhysRevB.81.115201>Phys. Rev. B 81, 115201 (2010)</a>

<li>Bi-Ching Shih, Yu Xue, Peihong Zhang, Marvin L. Cohen, and Steven G. Louie, "Quasiparticle band gap of ZnO: High accuracy from the conventional G<sub>0</sub>W<sub>0</sub> approach," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.105.146401>Phys. Rev. Lett. 105, 146401 (2010)</a>

<li>Victor W. Brar, Sebastian Wickenburg, Melissa Panlasigui, Cheol-Hwan Park, Tim O. Wehling, Yuanbo Zhang, R. Decker, Caglar Girit, A. V. Balatsky, Steven G. Louie, Alex Zettl, and Michael F. Crommie, "Observation of Carrier-Density-Dependent Many-Body Effects in Graphene via Tunneling Spectroscopy," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.104.036805>Phys. Rev. Lett. 104, 036805 (2010)</a>

<li>G. S. Do, J. Kim, Seung-Hoon Jhi, Cheol-Hwan Park, Steven G. Louie, and Marvin L. Cohen, "Ab Initio Calculations of Pressure-Induced Structural Phase Transitions of GeTe," <a href=http://link.aps.org/doi/10.1103/PhysRevB.82.054121>Phys. Rev. B 82, 054121 (2010)</a>

<li>Li Yang, "First-principles study of the optical absorption spectra of electrically gated bilayer graphene," <a href=http://link.aps.org/doi/10.1103/PhysRevB.81.155445>Phys. Rev. B 81, 155445 (2010)</a>

<li>David A. Siegel, Cheol-Hwan Park, C. Hwang, Jack Deslippe, A. V. Federov, Steven G. Louie, and Alessandra Lanzara, "Many-body Interactions in Quasi-freestanding Graphene," <a href=http://dx.doi.org/10.1073/pnas.1100242108>Proc. Natl. Acad. Sci. U.S.A. 108, 11365 (2011)</a>

<li>H. C. Hsueh, G. Y. Guo, and Steven G. Louie, "Excitonic Effects in the Optical Properties of a SiC Sheet and Nanotubes," <a href=http://link.aps.org/doi/10.1103/PhysRevB.84.085404>Phys. Rev. B 84, 85404 (2011)</a>

<li>Georgy Samsonidze, Manish Jain, Jack Deslippe, Marvin L. Cohen, and Steven G. Louie, "Simple approximate physical orbitals for GW quasiparticle calculations," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.107.186404>Phys. Rev. Lett. 107, 186404 (2011)</a>

<li>Georgy Samsonidze, Marvin L. Cohen, and Steven G. Louie, "Compensation-doped silicon for photovoltaic applications," <a href=http://link.aps.org/doi/10.1103/PhysRevB.84.195201>Phys. Rev. B 84, 195201 (2011)</a>

<li>Manish Jain, James R. Chelikowsky, and Steven G. Louie, "Quasiparticle Excitations and Charge Transition Levels of Oxygen Vacancies in Hafnia," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.107.216803>Phys. Rev. Lett. 107, 216803 (2011)</a>

<li>Manish Jain, James R. Chelikowsky, and Steven G. Louie, "Reliability of Hybrid Functionals in Predicting Band Gaps," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.107.216806>Phys. Rev. Lett. 107, 216806 (2011)</a>

<li>Isaac Tamblyn, Pierre Darancet, Su Ying Quek, Stanimir A. Bonev, and Jeffrey B. Neaton, "Electronic energy level alignment at metal-molecule interfaces with a GW approach," <a href=http://link.aps.org/doi/10.1103/PhysRevB.84.201402>Phys. Rev. B 84, 201402(R) (2011)</a>

<li>Li Yang, "Excitons in intrinsic and bilayer graphene," <a href=http://link.aps.org/doi/10.1103/PhysRevB.83.085405>Phys Rev. B 83, 085405 (2011)</a>

<li>Li Yang, "Excitonic Effects on Optical Absorption Spectra of Doped Graphene," <a href=http://dx.doi.org/10.1021/nl201928g>Nano Lett. 11, 3844 (2011)</a>

<li>Oleg V. Yazyev, Emmanouil Kioupakis, Joel E. Moore, and Steven G. Louie, "Quasiparticle effects in the bulk and surface-state bands of Bi<sub>2</sub>Se<sub>3</sub> and Bi<sub>2</sub>Te<sub>3</sub> topological insulators," <a href=http://link.aps.org/doi/10.1103/PhysRevB.85.161101>Phys. Rev. B 85, 161101(R) (2012)</a>

<li>Sahar Sharifzadeh, Ariel Biller, Leeor Kronik, and Jeffrey B. Neaton, "Quasiparticle and Optical Spectroscopy of the Organic Semiconductors Pentacene and PTCDA from First Principles," <a href=http://link.aps.org/doi/10.1103/PhysRevB.85.125307>Phys. Rev. B 85, 125307 (2012)</a>

<li>Jesse Noffsinger, Emmanouil Kioupakis, Chris G. Van de Walle, Steven G. Louie, and Marvin L. Cohen, "Phonon-Assisted Optical Absorption in Silicon from First Principles," <a href=http://link.aps.org/doi/10.1103/PhysRevLett.108.167402>Phys. Rev. Lett. 108, 167402 (2012)</a>

<li>Cheol-Hwan Park, Feliciano Giustino, Catalin D. Spataru, Marvin L. Cohen, and Steven G. Louie, "Inelastic Carrier Lifetime in Bilayer Graphene," <a href=http://link.aip.org/link/doi/10.1063/1.3675877>Appl. Phys. Lett. 100, 032106 (2012)</a>

<li>Kaihui Liu, Jack Deslippe, Fajun Xiao, Rodrigo B. Capaz, Xiaoping Hong, Shaul Aloni, Alex Zettl, Wenlong Wang, Xuedong Bai, Steven G. Louie, Enge Wang and Feng Wang, "A Periodic Table of Carbon Nanotube Optical Transitions," <a href='http://www.nature.com/nnano/journal/v7/n5/full/nnano.2012.52.html?WT.ec_id=NNANO-201205'>Nature Nanotech. 7, 325 (2012)</a>

<li>Sangkook Choi, Jack Deslippe, Rodrigo B. Capaz, and Steven G. Louie, "An explicit formula for optical oscillator strength of excitons in semiconducting single-walled carbon nanotubes: family behavior", <a href='http://pubs.acs.org/doi/abs/10.1021/nl303426q'> Nano Lett. 13, 54 (2012)</a>

<li>Sahar Sharifzadeh, Isaac Tamblyn, Peter Doak, Pierre Darancet, and Jeffrey B. Neaton, "Quantitative Molecular Orbital Energies within a G<sub>0</sub>W<sub>0</sub> Approximation", <a href=http://dx.doi.org/10.1140/epjb/e2012-30206-0>Eur. Phys. J. B 85, 323 (2012)</a>

<li>Jack Deslippe, Georgy Samsonidze, Manish Jain, Marvin L. Cohen and Steven G. Louie, "Coulomb-hole summations and energies for GW calculations with limited number of empty orbitals: A modified static remainder approach", <a href='http://journals.aps.org/prb/abstract/10.1103/PhysRevB.87.165124'>Phys. Rev. B 87, 165124 (2013)</a>

<li>Brad D. Malone and Marvin L. Cohen, "Quasiparticle semiconductor band structures including spin-orbit interactions," <a href=http://iopscience.iop.org/0953-8984/25/10/105503>J. Phys.: Condens. Matter 25, 105503 (2013)</a>

<li>Diana Y. Qiu, Felipe H. da Jornada and Steven G. Louie, "Optical Spectrum of MoS<sub>2</sub>: Many-Body Effects and Diversity of Exciton States," <a href=http://prl.aps.org/abstract/PRL/v111/i21/e216805>Phys. Rev. Lett. 111, 216805 (2013)</a>

<li>Georgy Samsonidze, Marvin L. Cohen, and Steven G. Louie, "First-principles study of quasiparticle energies of a bipolar molecule in a scanning tunneling microscope measurement," <a href=http://dx.doi.org/10.1016/j.commatsci.2014.04.049>Comput. Mater. Sci. 91, 187 (2014)</a>

<li>Georgy Samsonidze, Filipe J. Ribeiro, Marvin L. Cohen, and Steven G. Louie, "Quasiparticle and optical properties of polythiophene-derived polymers," <a href=http://dx.doi.org/10.1103/PhysRevB.90.035123>Phys. Rev. B 90, 035123 (2014)</a>

<li>Manish Jain, Jack Deslippe, Georgy Samsonidze, Marvin L. Cohen, James R. Chelikowsky, and Steven G. Louie, "Improved quasiparticle wave functions and mean field for G<sub>0</sub>W<sub>0</sub> calculations: Initialization with the COHSEX operator," <a href=http://dx.doi.org/10.1103/PhysRevB.90.115148>Phys. Rev. B 90, 115148 (2014)</a>

<li>Georgy Samsonidze, Cheol-Hwan Park, and Boris Kozinsky, "Insights and challenges of applying the GW method to transition metal oxides," <a href=http://dx.doi.org/10.1088/0953-8984/26/47/475501>J. Phys.: Condens. Matter 26, 475501 (2014)</a>

<li>Dylan Bayerl and Emmanouil Kioupakis, "Visible-Wavelength Polarized-Light Emission with Small-Diameter InN Nanowires," <a href=http://pubs.acs.org/doi/abs/10.1021/nl404414r>Nano Lett. 14, 3709 (2014)</a>
  
<li>M. Gerosa, C. E. Bottani, L. Caramella, G. Onida, C. Di Valentin, and G. Pacchioni, "Electronic structure and phase stability of oxide semiconductors: Performance of dielectric-dependent hybrid functional DFT, benchmarked against GW band structure calculations and experiments", <a href=http://dx.doi.org/10.1103/PhysRevB.91.155201>Phys. Rev. B 91, 155201 (2015)</a>

<li>Guangsha Shi and Emmanouil Kioupakis, "Electronic and Optical Properties of Nanoporous Silicon for Solar-Cell Applications," <a href=http://pubs.acs.org/doi/abs/10.1021/ph5002999>ACS Photonics 2, 208 (2015)</a>

<li>Huashan Li, David A. Strubbe, and Jeffrey C. Grossman, "Functionalized Graphene Superlattice as a Single-Sheet Solar Cell," <a href=http://onlinelibrary.wiley.com/doi/10.1002/adfm.201501906/abstract>Adv. Funct. Mater. 25, 5199-5205 (2015)</a>

</ol>
